<div class="container pl-4 pt-4 border rounded" style="overflow-y:auto" *ngIf="ismain == 'false'">
  <h1><strong>{{ title }}</strong></h1>
  <h2>{{ url }}</h2>
  <div class="row">
    <div class="col-10">
      <h3>Descrição: </h3>
      {{ content }}
    </div>
    <div class="col-2">
      <h3>Valor: </h3>
      R$ {{ price }}
    </div>
  </div>
    <br>
  <br>
  <div class="mb-4" style="clear:right;">
    <a class="btn btn-success" style="padding:10px;float:right;">Comprar Agora</a>
    <a class="btn btn-primary" style="padding:10px;float:left;clear:left;">Adicionar ao carrinho</a>
  </div>
  <br>
  <br>
</div>
<div *ngIf="ismain == 'true'" class="text-center">
  <h1 class="text-left">Seja bem vindo ao nosso site de cursos onlines <strong>Idomy</strong></h1>
  <h2 class="text-left">Utilize o menu lateral à esquesda para navegar no site!</h2>
  <h2 class="text-primary">Aprender nunca é demais!</h2>
  <img class="rounded" src="/assets/assets/imgs/ok.gif" alt="aprenda_mais"/>
  <h1 class="text-success mt-4">Então vem aprender com a gente! ❤️ </h1>
</div>
