<!--<div class="container-fluid">
  <mat-sidenav-container class="example-container" >
    <mat-sidenav mode="side" class="w-25" opened>
      <h2 class="pl-2 pt-2 pb-0">Idomy Cursos Online</h2>
      <mat-list class="pt-0 pb-0">
        <mat-list-item class="pt-0 pb-0">
          Banco de Dados
          <mat-list>
            <mat-list-item>
              SQL
            </mat-list-item>
          </mat-list>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content class="w-75 bg-light">
      <app-breadcrumb></app-breadcrumb>
      <app-content></app-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
-->
  <div id="container" class="row" >
    <div class="col-4" style="width: 28%;overflow-y:auto;">
      <div class="flex-shrink-0 p-3 bg-white" style="height: 100vh; border-right: 1px solid rgba(110, 67, 67, 0.1);">
        <a routerLink="/" class="active-link text-decoration-none text-dark"><h1>Idomy Cursos Online</h1></a>
        <ul class="list-unstyled ps-0" *ngFor="let item of menuItems">
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+ item.id" aria-expanded="false">
              <span class="h5" style="margin-left: 10px;">{{ item.name }}</span>
            </button>
            <div class="collapse" id="collapse{{ item.id }}">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" *ngFor="let subItem of item.childrens">
                <li><a routerLink="/{{item.slug}}/{{subItem.slug}}" class="h6 link-dark rounded">{{ subItem.name }}</a></li>
              </ul>
            </div>
          </li>
      </ul>
    </div>
  </div>
  <div class="col-7" style="width: 72%;overflow-y:auto;">
    <app-breadcrumb (activate)="changeOfRoutes()" url="{{ url }}" cat_slug="{{ categoria }}" art_slug="{{ artigo }}" cat_title="{{ categoria_title }}" art_title="{{ artigo_title }}"></app-breadcrumb>
    <div style="margin:30px;">
      <app-content title="{{ title }}" content="{{ content }}" price="{{ price }}" iscat="{{ isCat }}" idcat="{{ idCat }}" route="{{ route }}" ismain="{{ is_main_route }}"></app-content>
      <br>
    </div>
  </div>
<router-outlet (activate)="changeOfRoutes()"></router-outlet>
